# Example of numscons configuration
# [freetype2]
# include_dirs = /Users/david/local/include/freetype2:/Users/david/local/include/freetype2/freetype
# library_dirs = /Users/david/local/lib
# [png]
# include_dirs = /Users/david/local/include/
# library_dirs = /Users/david/local/lib
# libraries = png,z
